.title {
  text-transform: uppercase;
}

.btns {
  display: flex;
}

.btn {
  padding: 5px 15px;
  margin-right: 2px;
  color: #fff;
  font-family: 'PT Mono', monospace;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.btn:hover {
  background-color: rgba(115, 244, 235, 0.1);
}

.active {
  background-color: rgba(115, 244, 235, 0.4);
}

.active:hover {
  background-color: rgba(115, 244, 235, 0.4);
}

.list {
  padding-left: 0;
  list-style: none;
}

.item {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(115, 244, 235, 0.1);
}

.none {
  display: none;
}